name: CI CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USER }}/demo-devops-nodejs

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - run: npm ci
      - run: npm test

  build-and-push:
    needs: build-test
    runs-on: ubuntu-latests
    steps:
      - uses: actions/checkout@v4

      - name: Login DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ github.sha }}

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3

      - name: Load kubeconfig
        run: echo "${{ secrets.KUBE_CONFIG }}" > kubeconfig

      - name: Deploy
        run: |
          export KUBECONFIG=$PWD/kubeconfig
          kubectl apply -f k8s/
          kubectl set image deployment/demo-app demo-container=${{ env.IMAGE_NAME }}:${{ github.sha }} --record
          kubectl rollout status deployment/demo-app
